@media(max-width: 768px){
	#project .card{
		margin-bottom: 18px;
	}
	
}
@media(max-width:767px){
.display-3 {
float: right;
margin-right: 22%;
margin-top: -132px;
font-size: 31px;
}
.carousel-item p {
 margin-top: -70px;
margin-right: -18%;
font-size: 12px;
}
.carousel-item button{
	margin-right: -1%;
margin-top: -17px;
font-size: 9px;
}
	}